
// ----------------
//   variables
//-----------------

// font-family
$font-bk: "NotoBK",'Apple SD Gothic Neo', sans-serif , 'MalgunGothic';
$font-b: "NotoB",'Apple SD Gothic Neo', sans-serif , 'MalgunGothic';
$font-m: "NotoM",'Apple SD Gothic Neo', sans-serif , 'MalgunGothic';
$font-r: "NotoR",'Apple SD Gothic Neo', sans-serif , 'MalgunGothic';
$font-dl: "NotoDL",'Apple SD Gothic Neo', sans-serif , 'MalgunGothic';
$font-l: "NotoL",'Apple SD Gothic Neo', sans-serif , 'MalgunGothic';
$font-t: "NotoT",'Apple SD Gothic Neo', sans-serif , 'MalgunGothic';

$font-kyobo-r: "KyoboR",'Apple SD Gothic Neo', sans-serif , 'MalgunGothic';

$navy: #2475b6;

/*------------------------
     Main Color
--------------------------*/
$main-color-blue: #2b40ab;
