
.prj-wrap {
  @include clearfix;
}
.prj-info {
  position: relative;
  float: left;
  width: calc(100% - 60% - 50px);
  height: 740px;
  margin-top: 5%;
  margin-left: 0;
  padding: 50px 0 50px 100px;
  color: $txt-def;
  text-align: left;
  @include respond-to("bp-max-1366") {
    //float: none;
    //width: calc(100% - 10%);
    height: auto;
    margin-left: 0;
    width: 33%;
    padding:0;
    margin: 8% 0 5% 5%;
  }
  @include respond-to("bp-max-820") {
    float: none;
    width: 100%;
    margin: 0;
    margin-top: 0%;
    padding: 18% 5% 0 5%;
  }
  .btn-wrap {
    margin-top: 10%;
    @include respond-to("bp-max-820") {
      position: absolute;
      bottom: -86vw;
  left: 47%;
   transform: translateX(-50%);
    }
    .link {
      display: block;
      width: 211px;
      height: 60px;
      border-radius: calc(60px * 0.5);
      text-align: center;
      font-size: 28px;
      border: 1px solid #707070;
      @include display-flex {
        justify-content: getJustify(center);
        align-items: checkAlign(center);
      }
      color: $txt-def;
      font-family: $font-eng;
      font-weight: 300;
      &:hover {
        background: #333;
        color: #fff;
        transition: 0.3s;
      }
      @include respond-to("bp-max-820") {
         width: 35vw;
        height: 10vw;
        font-size:5vw;
         
      }
    }
  }

  &:before {
    position: absolute;
    top: -10px;
    left: 10px;
    content: attr(data-text);
    font-size: 130px;
    color: $txt-def;
  }
  h3 {
    position: relative;
    font-size: 32px;
    color: $txt-def;
    font-family: $font-kr;
    @include respond-to("bp-max-820") {
      font-size: 6vw;
    }
  }
  .prj-info__sub-ttl {
    position: relative;
    margin-bottom: 10%;
    padding-top: 16px;
    font-size: 24px;
    line-height: 1.3;
     font-family: $font-kr;
    @include respond-to("bp-max-820") {
     //display: none;
         margin-bottom: 2%;
             font-size: 4vw;
    }
  }
  dl {
    @include respond-to("bp-max-820") {
     display: none;
    }
    line-height: 1.5em;
    //margin: 30px 0;
    dt {
      display: inline-block;
      padding-right: 10px;
      font-size: 18px;
      font-family: $font-eng;
      font-weight: 300;
      color: $txt-def;
      // b {}
    }
    dd {
      display: inline-block;
      font-size: 18px;
      font-family: $font-eng;
      font-weight: 300;
      letter-spacing: normal;
      color: $txt-def;
    }
    li:before {
      //content:"\f105";
      font-family: fontawesome;
      margin-right: 10px;
    }
  }
}


.prj-photo {
  position: relative;
  float: right;
  margin-top: 5%;
  width: calc(100% - 40% - 50px - 120px);
 
  height: 740px;
  padding: 50px 0;
  //overflow: hidden;
  margin-right: 120px;
  @include respond-to("bp-max-1366") {
    //float: none;
    padding: 0;
    width: 55%;
    margin: 5% 5%  5% 0;
    //padding: 10% 5%;
  }
   @include respond-to("bp-max-820") {
     width: 100%;
     height: 60vw;
     margin:  0;
    
   }
  span {
    display: block;
    width: 100%;
    height: 100%;
  }
.mockup-wrap {
    position: relative;
    width: 100%;
    height: 100%;

}
  .mockup {
    &.mockup__pc {
      position: absolute;
      right: 0px;
      top: 60px;
      width: 1120px;
      height: 678px;
      background: url("~@/assets/images/mockup/mockup_macbook.png") center center no-repeat;
      background-size: 100%;
      @include respond-to("bp-max-1366") {
        width: 120%;
        top: 17%;
      }
      @include respond-to("bp-max-820") {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 90vw;
       height: 76vw;
      }
      &.sh-bank {
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 732px;
          height: 460px;
          background: url("~@/assets/images/projects/initech/suhyup/suhyup_01_1600.png") no-repeat;
          background-size: 100%;
          right: 199px;
          top: 40px;
          @include respond-to("bp-max-1366") {
            width: 100%;
            width: 66%;
            right: 17%;
            top: 15%;
            z-index: -1;
          }
          @include respond-to("bp-max-820") {
              width: 59vw;
              right: 18%;
                top: 18%;
              height: 37vw;
          }
        }
      }
      &.nexess-demo {
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 734px;
          height: 460px;
          background: url("~@/assets/images/projects/initech/nexess/nexess_main_01.png") no-repeat;
          background-size: 100%;
          right: 197px;
          top: 40px;
          @include respond-to("bp-max-1366") {
            width: 100%;
          }
           @include respond-to("bp-max-820") {
            width: 59vw;
            right: 18%;
            top: 18%;
            height: 37vw;
            width: 59.5vw;
    right: 17%;
    top: 18%;
          }
        }
      }
    }
    &.mockup__trans-pc {
      width: 100%;
      height: 100%;
      &.inihub {
        &::before {
          content: "";
          display: block;
          position: absolute;
          right: 167px;
          bottom: 150px;
          width: 510px;
          height: 480px;
          background: url("~@/assets/images/projects/initech/inihub/inihub_pc_01.png") center no-repeat;
          background-size: 510px;
          @include respond-to("bp-max-820") {
            right: 0;
            bottom: 0;
            width: 50vw;
            height: 40vw;
            background-size: 50vw;
          }
        }
      }
    }

    &.mockup__respons-pc {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 20px;
      @include respond-to("bp-max-820") {
             bottom: -10vw;

        }
      &::after {
        // pc
        content: "";
        display: block;
        width: 952px;
        height: 576px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: url("~@/assets/images/mockup/mockup_macbook.png") center center no-repeat;
        background-size: 100%;
        //background-position-y: 50px;
        @include respond-to("bp-max-820") {
            width: 83vw;
            height: 52vw;
            bottom:0;
        }
      }
      &.kyobo {
        &::before {
          content: "";
          display: block;
          position: absolute;
          right: 167px;
          bottom: 150px;
          width: 625px;
          height: 392px;
          background: url("~@/assets/images/projects/initech/kyobo/intergration_pc_01.png") no-repeat;
          background-size: 100%;
          background-position-y: 50%;
          @include respond-to("bp-max-820") {
            
            right: 0;
            bottom: 0;
            background-position-y: 0;
              width: 55vw;
            height: 36vw;
            right: 14vw;
            bottom: 13vw;
          }
        }
      }
      &.inihub {
        &::before {
          content: "";
          display: block;
          position: absolute;
          right: 167px;
          bottom: 150px;
          width: 625px;
          height: 392px;
          background: url("~@/assets/images/projects/initech/inihub/inihub_a_pc_01.png") no-repeat;
          background-size: 625px;
          background-position-y: 50%;
        }
      }
      &.multi-demo {
        &::before {
          content: "";
          display: block;
          position: absolute;
          right: 167px;
          bottom: 150px;
          width: 625px;
          height: 392px;
          background: url("~@/assets/images/projects/initech/demo/multi_demo_01.png") no-repeat;
          background-size: 100%;
          background-position-y: 50%;
          @include respond-to("bp-max-820") {
              background-position-y:0;
               width: 55vw;
              height: 36vw;
              right: 14vw;
              bottom: 13vw;
          }
        }
      }

    }
    &.mockup__respons-pad {
      position: absolute;
      width: 100%;
      height: 100%;
      left: -50px;
      top: 70px;
      @include respond-to("bp-max-820") {
        left: 2vw;
        top: 12vw;
        
      }
      &::after {
        content: "";
        display: block;
        width: 490px;
        height: 486px;
        position: absolute;
        top: 20px;
        left: -105px;
        background: url("~@/assets/images/mockup/mockup_ipad.png") center center no-repeat;
        background-size: 100%;
        z-index: -1;
        @include respond-to("bp-max-820") {
              width: 40vw;
          height: 44vw;
          top: 0;
          left: 0;
        }
      }
      &.kyobo {
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 320px;
          height: 428px;    
          top: 51px;
          left: 43px;
          @include respond-to("bp-max-820") {
               width: 40vw;
    height: 44vw;
            top: 0;
            left: 0;
          }
        }
      }
      &.inihub {
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 30px;
          left: 280px;
          background: url("~@/assets/images/projects/initech/inihub/inihub_a_tablet_01.jpg") center center no-repeat;
          background-size: 100%;
          width: 300px;
          height: 428px;
          z-index: -1;
          @include respond-to("bp-max-820") {
            width: 40vw;
            height: 35vw;
            top: 0;
            left: 0;
          }
        }
      }
    }
    &.mockup__respons-mo {
      position: absolute;
      left: -270px;
      bottom: 17px;
      @include respond-to("bp-max-820") {
        bottom: -8vw;
        left: 10vw;
     
      }

      &::after {
        content: "";
        display: block;
        width: 259px;
        height: 339px;
  
        position: absolute;
        left: 70px;
        bottom: 76px;
        background: url("~@/assets/images/mockup/mockup_iphone.png") center center no-repeat;
        background-size: 100%;
        @include respond-to("bp-max-820") {
           width: 30vw;
          height: 38vw;
          bottom: 0;
          left: 0;
        }
      }
      &.kyobo {
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 176px;
          bottom: 130px;
          width: 130px;
          height: 239px;
          background: url("~@/assets/images/projects/initech/kyobo/integration_mo_kyobo_auth.png") no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-820") {
            width: 14.5vw;
            height: 27vw;
            bottom: 6.2vw;
            left: 11.8vw;
            
          }
        }
      }
      &.inihub {
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 178px;
          bottom: 130px;
          width: 130px;
          height: 239px;
          background: url("~@/assets/images/projects/initech/inihub/inihub_a_m_01.png") center top no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-820") {
           
          }
        }
      }
    }
    &.mockup__mo {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      &::after {
        content: "";
        display: block;
       width: 356px;
    height: 444px;
        position: absolute;
        left: 0;
        top: 0;
        background: url("~@/assets/images/mockup/mockup_iphone.png") center center no-repeat;
        background-size: 100%;
        @include respond-to("bp-max-820") {
          width: 30vw;
          height: 38vw;
          bottom: 0;
          left: 0;
        }
      }
      &.wedding {
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 1060px;
          height: 568px;
          background: url("~@/assets/images/projects/wedding.png") center top no-repeat;
          background-size: 100%;
         @include respond-to("bp-max-820") {
          width: 70vw;
          height: 48vw;
          top: 70%;
          left:50%;
          transform: translate(-50%, -50%);
        }
       
        }
      }
    }
  }
}