
.portfolio-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: $font-eng;
 background-color: #fef8ee;
  .inner {
    margin-left: 40px;
    @include respond-to("bp-tablet-820") {
      margin-left: 5%;
    }
  }
  .ttl-group {
    position: absolute;
    top: 50%;
    @include translateY(-50%);
    h2 {
      font-size: 62px;
      text-align: left;
      color: #000;
      margin: 0;
      letter-spacing: -0.05em;
      font-weight: 300;
      @include respond-to("bp-max-820") {
        // 820
        font-size: 58px;
      }
      @include respond-to("bp-max-600") {
        // 600
        font-size: 10vw;
      }

      em {
        b {
          font-weight: 500;
        }
      }
    }
    p {
      font-family: $font-kr;
      font-size: 22px;
      margin-top: 30px;
      @include respond-to("bp-max-600") {
        font-size: 5vw;
        margin-top: 5%;
      }
    }
  }
}
.indicator-wrap {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  .indicator {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 12px;
    display: block;
    margin: 1rem 0;
    opacity: 0.6;
    transition: 0.4s ease all;
    cursor: pointer;
    &.active {
      opacity: 1;
      transform: scale(1.5);
    }
  }
}
.fullpage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sections-menu {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.sections-menu .menu-point {
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: block;
  margin: 1rem 0;
  opacity: 0.6;
  transition: 0.4s ease all;
  cursor: pointer;
}

.sections-menu .menu-point.active {
  opacity: 1;
  transform: scale(1.5);
}

.hiring-heading {
  position: absolute;
  top: 50px;
  left: 5%;
  left: 0;
  width: 100%;
  //transform: translate(-50%, -50%);
  //text-align: left;
}

.section {
  opacity: 0;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
 
  .ttl-group {
    text-align: left;
    letter-spacing: -0.01em;
    h3 {
      font-family: $font-eng;
      font-size: 2.5rem;
      font-size: 44px;
      em {
        font-family: $font-eng;

        b {
          font-family: $font-eng;
          font-weight: 600;
        }
      }
    }
  }
  .content {
    opacity: 1;
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin-top: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #ddd;
    overflow: hidden;
    @include prefix(box-sizing, border-box);
    .intro-inner,
    .about-inner,
    .desc-inner,
    .project-inner,
    .plan-inner {
      height: 100%;
      background-color: #fef8ee;
    }
    .project-inner {
      background: #fff;
      background: #fef8ee; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        #fef8ee,
        #fff
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        #fef8ee,
        #fff
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .intro-inner {
      position: absolute;
      width: 100%;
      top: 38%;
      left: 40px;
      height: auto;
      @include respond-to("bp-tablet-820") {
        // 820
        left: 5%;
      }
      @include translateY(-50%);
      .ttl-group {
        h2 {
          font-size: 62px;
          text-align: left;
          margin: 0;
          letter-spacing: -0.05em;
          font-family: $font-eng;
          font-weight: 300;
          @include respond-to("bp-tablet-820") {
            // 820
            font-size: 58px;
          }
          @include respond-to("bp-mobile-600") {
            // 600
            font-size: 10vw;
          }
          em {
            b {
              font-family: $font-eng;
              font-weight: 500;
            }
          }
        }
        p {
          display: block;
          margin-top: 30px;
          font-size: 28px;
          font-family: $font-kr;
          @include respond-to("bp-mobile-600") {
            // 600
            font-size: 4.67vw;
            margin-top: 5vw;
          }
        }
      }
    }

    .about-inner {
      margin-top: 15%;
      @include respond-to("bp-max-820") {
        margin-top: 30%;
      }
      .txt-group {
        position: relative;
        text-align: center;
        letter-spacing: 0.1em;

        &::after {
          content: "";
          width: 1px;
          height: 80px;
          background: $color-def;
          display: block;
          position: absolute;
          left: 50%;
          top: 180%;
          @include respond-to("bp-max-820") {
            top: 210%;
          }
        }
        em {
          font-size: 48px;
          display: block;
          font-family: $font-kr;
          text-align: center;
          margin-bottom: 10px;
          line-height: 1.25em;
          @include display-flex {
            justify-content: getJustify(center);
          }
          @include respond-to("bp-max-820") {
            font-size: 9.5vw;
          }
        }
        p {
          font-size: 28px;
          font-family: $font-kr;
          font-weight: 300;
          text-align: center;
          @include respond-to("bp-max-820") {
            font-size: 5vw;
          }
        }
      }
      span {
        font-size: 26px;
        font-family: $font-kr;
        font-weight: 300;
        display: block;
        margin-top: 10%;
        line-height: 1.25em;
        text-align: center;
        @include respond-to("bp-max-820") {
          font-size: 5vw;
          margin-top: 70%;
        }
        @include respond-to("bp-max-600") {
          font-size: 5vw;
          margin-top: 60%;
        }
      }
    }

    .desc-inner {
      max-width: 1400px;
      margin: 0 auto;
      margin-top: 10%;
      position: relative;

      @include respond-to("bp-landscape-1440") {
        // 1440
        width: calc(100% - 10%);
        margin-top: 8%;
      }
      @include respond-to("bp-tablet-820") {
        // 820

        margin-top: 15%;
      }

      h3 {
        font-size: 40px;
        font-family: $font-eng;
        @include respond-to("bp-mobile-600") {
          // 600
          text-align: center;
          font-size: 6.5vw;
        }
      }
      .item-group {
        margin-top: 15%;
        @include respond-to("bp-landscape-1440") {
          margin-top: 13vw;
        }
        @include respond-to("bp-tablet-820") {
          margin-top: 10%;
        }
        @include respond-to("bp-mobile-600") {
          margin-top: 8%;
        }
        &::before {
          content: "";
          display: block;
          width: 1px;
          height: 86px;
          background: #707070;
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          @include respond-to("bp-landscape-1440") {
            height: 5vw;
            top: 5.4vw;
          }
          @include respond-to("bp-tablet-820") {
            display: none;
          }
        }
        li {
          float: left;
          width: 46%;
          height: 220px;

          &:nth-child(1),
          &:nth-child(3) {
            margin-right: 5%;
          }
          @include respond-to("bp-landscape-1440") {
            // 1440
            font-size: 1.45vw;
            height: 15vw;
          }
          @include respond-to("bp-landscape-1024") {
            // 1024px
            //width: 100%;
            // height: auto;
            //margin-bottom: 4%;
          }
          @include respond-to("bp-tablet-820") {
            // 820
            width: 100%;
            height: auto;
            margin-bottom: 5%;
          }

          h4 {
            font-size: 28px;
            text-align: left;
            font-family: $font-eng;
            line-height: 1.5em;
            @include respond-to("bp-landscape-1440") {
              // 1440
              font-size: 1.944445vw;
            }
            @include respond-to("bp-landscape-1024") {
              // 1024
              font-size: 2.734375vw;
            }
            @include respond-to("bp-tablet-820") {
              // 820
              font-size: 4.1vw;
            }
            @include respond-to("bp-mobile-600") {
              font-size: 5vw;
            }
          }
          p {
            font-size: 22px;
            margin-top: 6px;
            text-align: left;
            font-family: $font-kr;
            font-weight: 300;
            line-height: 1.3em;
            @include respond-to("bp-max-1440") {
              // 1440
              font-size: 1.45vw;
            }
            @include respond-to("bp-max-820") {
              // 820
              font-size: 4vw;
              line-height: 1.3;
              margin-top: 1%;
            }
            @include respond-to("bp-max-600") {
              // 600
              font-size: 1rem;
              margin-top: 1%;
            }
          }
          .tool-list {
            margin-top: 20px;
            width: 456px;
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }

    .education-inner {
      width: 1600px;
      margin: 0 auto;
      margin-top: 5%;
      text-align: left;
      .ttl {
        //float: left;
        width: 100%;
        position: relative;
        h3 {
          font-size: 40px;
          text-align: center;
          font-family: $font-eng;
          font-weight: 300;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 85px;
            height: 1px;
            background: #707070;
            position: absolute;
            top: 200%;
            left: 0;
          }
        }
        p {
          margin-top: 25%;
          color: #999;
          font-size: 20px;
          font-family: $font-kr;
          font-weight: 300;
        }
      }

      .terms-group {
        float: right;
        width: 80%;
        height: 80vh;
        overflow: hidden;
        dl {
          display: block;
          width: 100%;
          font-family: $font-kr;
          font-weight: 300;
          dt {
            float: left;
            width: 25%;
            font-size: 28px;
            margin-top: 30px;
            @include respond-to("bp-max-820") {
              margin-top: 10%;
            }
          }
          dd {
            width: 70%;
            float: left;
            margin-top: 30px;
            @include respond-to("bp-max-820") {
              margin-top: 10%;
            }
            span {
              display: block;
            }
            em {
              font-size: 28px;
              padding-bottom: 12px;
            }

            p {
              padding: 10px 0;
              font-size: 22px;
              line-height: 1.3em;
            }
            span {
              font-size: 20px;
              line-height: 1.4em;
            }
          }
          dt + dd {
            margin-left: 5%;
          }
        }
      }
      .terms-group:first-child {
        position: relative;
        &::before {
          content: "...";
          display: block;
          height: 10px;
          width: 50px;
          font-size: 40px;
          left: 50%;
          position: absolute;
          top: 80%;
        }
      }
    }
    .project-inner {
      .tabs {
        height: 100%;
        width: 300%;
        transition: 0.5s;
        .tab {
          height: 100%;
          float: left;
          width: 33.333333%;
          div {
            height: 100%;
            float: left;
          }
        }
      }
      .project-info {
        float: left;
        padding: 50px;
        position: relative;
        width: 560px;
        height: 715px;
        color: $txt-def;
        margin-left: 120px;
        margin-top: 5%;
        text-align: left;
        .btn-wrap {
          margin-top: 10%;
          .link {
            width: 211px;
            height: 60px;
            border-radius: calc(60px * 0.5);
            font-size: 28px;
            display: block;
            text-align: center;
            border: 1px solid #707070;
            @include display-flex {
              justify-content: getJustify(center);
              align-items: checkAlign(center);
            }
            color: $txt-def;
            font-family: $font-eng;
            font-weight: 300;
            &:hover {
              transition: 0.3s;
              background: #333;
              color: #fff;
            }
          }
        }

        &:before {
          content: attr(data-text);
          font-size: 130px;
          color: $txt-def;
          position: absolute;
          top: -10px;
          left: 10px;
        }
        h3 {
          position: relative;
          font-size: 32px;
          color: $txt-def;
          font-family: $font-kr;

          position: relative;
        }
        .project__sub-ttl {
          position: relative;
          font-size: 24px;
          padding-top: 16px;
          line-height: 1.3;
          margin-bottom: 10%;
        }
        dl {
          line-height: 1.5em;
          //margin: 30px 0;
          dt {
            display: inline-block;
            padding-right: 10px;
            font-size: 18px;
            font-family: $font-eng;
            font-weight: 300;
            color: $txt-def;
            // b {}
          }
          dd {
            display: inline-block;
            font-size: 18px;
            font-family: $font-eng;
            font-weight: 300;
            letter-spacing: normal;
            color: $txt-def;
          }
          li:before {
            //content:"\f105";
            font-family: fontawesome;
            margin-right: 10px;
          }
        }
      }
      .project__num {
        font-size: 5rem !important;
        color: rgba(0, 0, 0, 0.15);
        font-family: $font-eng;
        font-weight: 500;
        line-height: 1.4;
      }

      .btn {
        display: block !important;
        height: 60px;
        width: 122px;
        font-size: 28px;
        border: 1px solid #000;
        border-radius: 60px;
        font-family: $font-eng;
        background: transparent;
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
    .slick-list {
      width: 80%;
    }
    .slick-track > div {
      .project-photo {
        position: relative;
        //width: calc;
        margin-top: 140px;
        height: 715px;
      }
    }

    .plan-inner {
      .plan-heading hr.bar,
      .history-info hr.bar {
        background-color: dodgerblue;
        display: inline-block;
      }
      .plan-heading,
      .history-info {
        width: 70%;
        padding-right: 50px;
        text-align: left;
        h2 {
          font-size: 2.6rem;
          text-align: left;
          color: #000;
          margin: 0;
        }
        p {
          font-size: 16px;
          line-height: 1.6em;
          text-align: left;
        }
      }
      .history-info {
        width: 100%;
        .work-list {
          margin-top: 16px;
          li {
            line-height: 1.3;
          }
        }
      }
      .plan-info > div {
        float: left;
      }
      .plan-feature {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        div {
          height: 300px;
          color: #bbb;
        }
      }
      .history-slider {
        div {
          text-align: left;
          h4 {
            color: #000;
            font-size: 20px;
            font-weight: normal;
            margin: 0;
            text-align: left;
            line-height: 1.5em;
            span {
              color: $color-def;
            }
          }
          p {
            text-align: left;
            font-size: 16px;
            line-height: 1.5em;
          }
        }
      }
    }
  }
}
.mo-visual {
  @include respond-to("bp-min-1025") {
    display: none;
  }
}
.pc-visual {
  display: block;
  @include respond-to("bp-tablet-820") {
    display: none;
  }
}

.hiring {
  animation: slidedown 1s linear both;
}

@keyframes slidedown {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.btn {
  width: 242px;
  font-size: 20px;
  border: 1px solid #000;
  height: 60px;
  border-radius: 60px;
  cursor: pointer;
  font-family: $font-eng;
  background: transparent;
  transition: 0.3s;
  &.trn {
    background: transparent;
  }
  &.navy {
    background: #3b3b3b;
    color: #fff;
  }
  &:hover {
    background: #333;
    color: #fef8ee;
  }
}
.contact-inner {
  position: absolute;
  top: 50%;
  left: 40px;
  height: 100%;
  height: auto;
  .ttl-group {
    h2 {
      font-size: 62px;
      text-align: left;
      color: #000;
      margin: 0;
      letter-spacing: -0.05em;
      font-weight: 300;
      @include respond-to("bp-tablet-820") {
        // 820
        font-size: 58px;
      }
      @include respond-to("bp-mobile-600") {
        // 600
        font-size: 10vw;
      }

      em {
        b {
          font-weight: 500 !important;
        }
      }
    }
  }
}


section {
  min-width: 1600px;
  @include respond-to("bp-max-820") {
  min-width: auto;
  width: 100%;
  }
}

.prj-wrap {
  @include clearfix;
}
.prj-info {
  position: relative;
  float: left;
  width: calc(100% - 60% - 50px);
  height: 740px;
  margin-top: 5%;
  margin-left: 0;
  padding: 0 0 50px 100px;
  color: $txt-def;
  text-align: left;
  h3 {
    position: relative;
    font-size: 32px;
    //line-height: 133px;
    line-height: 1.25;
    letter-spacing: -0.05em;
    color: $txt-def;
    font-family: $font-eng;
    br{display: none;}
    @include respond-to("bp-max-820") {
      font-size: 6vw;
      br{display: block;}
    
    }
  }
  @include respond-to("bp-max-1600") {
    height: auto;
    margin-left: 0;
    width: 33%;
    padding:0;
    margin: 8% 0 5% 5%;
  }
  @include respond-to("bp-max-820") {
    float: none;
    width: 100%;
    margin: 0;
    margin-top: 0%;
    padding: 18% 5% 0 5%;
  }
  .btn-wrap {
    margin-top: 10%;
    @include respond-to("bp-max-820") {
      position: absolute;
      bottom: -97vw;
      margin-top: 0;
      left: 47%;
      transform: translateX(-50%);
      z-index: 1000;
    }
    .link {
      display: block;
      width: 211px;
      height: 60px;
      border-radius: calc(60px * 0.5);
      text-align: center;
      font-size: 28px;
      border: 1px solid #707070;
      transition: 0.3s;
      @include display-flex {
        justify-content: getJustify(center);
        align-items: checkAlign(center);
      }
      color: $txt-def;
      font-family: $font-eng;
      font-weight: 300;
      &:hover {
        background: #333;
        color: #fff;
    
      }
      @include respond-to("bp-max-820") {
        width: 35vw;
        height: 10vw;
        font-size:5vw;
      }
    }
  }

  &:before {
    position: absolute;
    top: -10px;
    left: 10px;
    content: attr(data-text);
    font-size: 130px;
    color: $txt-def;
  }

  .prj-info__sub-ttl {
    position: relative;
    margin-bottom: 10%;
    padding-top: 16px;
    font-size: 24px;
    line-height: 1.3;
     font-family: $font-kr;
    @include respond-to("bp-max-820") {
      margin-bottom: 2%;
      font-size: 4vw;
      display: none;
    }
  }
  dl {
   
    @include respond-to("bp-max-820") {
     display: none;
    }
    line-height: 1.5em;
    //margin: 30px 0;
    dt {
      display: inline-block;
      padding-right: 10px;
      font-size: 18px;
      font-family: $font-eng;
       font-family: 'NotoR';
      font-weight: 300;
      color: $txt-def;
          line-height: 1.5;
      // b {}
    }
    dd {
      display: inline-block;
      font-size: 18px;
      font-family: $font-eng;
          //font-family: 'NotoR';
      font-weight: 400;
      letter-spacing: normal;
      color: $txt-def;
    }
    li:before {
      //content:"\f105";
      font-family: fontawesome;
      margin-right: 10px;
    }
  }
}


.prj-photo {
  position: relative;
  float: right;
  margin-top: 5%;
  width: calc(100% - 40% - 50px - 120px);
 
  height: 740px;
  min-height: 780px;
  padding: 50px 0;
  //overflow: hidden;
  margin-right: 120px;
  @include respond-to("bp-max-1600") {
    //float: none;
    padding: 0;
    width: 55%;
    margin: 5% 5%  5% 0;
    //padding: 10% 5%;
  }
   @include respond-to("bp-max-820") {
    width: 100%;
    height: 80vw;
    margin:  0;
    min-height: auto;
    
   }
  span {
    display: block;
    width: 100%;
    height: 100%;
  }
.mockup-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    height: 100%;
    left: -10%;
    top: 0;
    @include respond-to("bp-max-1600") {
         position: relative;
         top: none;
         left: none;
      }
    @include respond-to("bp-max-820") {
          left: 0;
          top: 5vw;
      }
    }
  .mockup {
    //@include background-image-render;
    &::after {
     // @include background-image-render;
    }
    &::before {
     // @include background-image-render;
    }
    &.mockup__pc {
      position: absolute;
      left: 0px;
      top: 0;
      width: 1120px;
      height: 678px;
      background: url("~@/assets/images/mockup/mockup_macbook.png") center center no-repeat;
      background-size: 100%;
      margin-top: 10%;
      @include respond-to("bp-max-1600") {
        //width: 116%;
        width: 64vw;
        height: 100%;
        //height: 50vw;
        left: 0%;
      }
      @include respond-to("bp-max-820") {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
            width: 84vw;
          margin-top: 0;
       height: 76vw;
      }
      &.sh-bank {
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 734px;
          height: 460px;
          background: url("~@/assets/images/projects/initech/suhyup/suhyup_01_1600.png") no-repeat;
          background-size: 100%;
          right: 199px;
          top: 40px;
          @include respond-to("bp-max-1600") {
            width: 42.4vw;
            height: 26.3vw;
            right: 11vw;
            top: 7.95vw;
            z-index: -1;
          }
          @include respond-to("bp-max-820") {
            //width: 59vw;
            //right: 18%;
            //top: 18%;
            //height: 37vw;
            width: 55vw;
            height: 35vw;
            right: 17.5%;
            top: 20%;
          }
        }
      }
      &.nexess-demo {
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 734px;
          height: 460px;
          background: url("~@/assets/images/projects/initech/nexess/nexess_main_01.png") no-repeat;
          background-size: 100%;
          right: 197px;
          top: 40px;
          z-index: -1;
          @include respond-to("bp-max-1600") {
            width: 42.4vw;
            height: 26.3vw;
            right: 11vw;
            top: 7.95vw;
              
          }
           @include respond-to("bp-max-820") {
            //width: 59vw;
            //height: 37vw;
            //width: 59.5vw;
            //right: 17%;
            //top: 18%;
            width: 55vw;
            height: 35vw;
            right: 17.5%;
            top: 20%;
          }
        }
      }
    }
    &.mockup__trans-pc {
      width: 100%;
      height: 100%;
      &.inihub {
        &::before {
          content: "";
          display: block;
          position: absolute;
          right: 127px;
          bottom: 150px;
          width: 1000px;
          height: 680px;
          background: url("~@/assets/images/projects/initech/inihub/inihub_mockup_01@2x.png") center no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-820") {
            left: 50%;
            transform: translateX(-50%);
            top: 10%;
            width: 50vw;
            height: 47vw;
            background-size: 50vw;
          }
        }
      }
    }

    &.mockup__respons-pc {
      width: 100%;
      height: 100%;
      position: absolute;
      ///bottom: 20px;
      left: 60px;
      bottom: 142px;
      @include respond-to("bp-max-1600") {
        width: auto;
        position: absolute;
        left: 0;
        bottom: 0;
        }
      &::after {
        // pc
        content: "";
        display: block;
        width: 952px;
        height: 576px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: url("~@/assets/images/mockup/mockup_macbook.png") center center no-repeat;
        background-size: 100%;
        //background-position-y: 50px;
        @include respond-to("bp-max-1600") {
           left: 0;
        }
        @include respond-to("bp-max-820") {
            width: 83vw;
            height: 52vw;
            bottom:0;
        }
      }
      &.kyobo {
        &::before {
          content: "";
          display: block;
          position: absolute;
          right: 167px;
          bottom: 150px;
          width: 625px;
          height: 392px;
          background: url("~@/assets/images/projects/initech/kyobo/intergration_pc_01.png") no-repeat;
          background-size: 100%;
          background-position-y: 50%;
          @include respond-to("bp-max-820") {
            
            //right: 0;
           // bottom: 0;
            background-position-y: 0;
             width: 55vw;
            height: 36vw;
           //right: 14vw;
           // bottom: 13vw;
          }
        }
      }
      &.inihub {
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          //left: 4vw;
          bottom: 70px;
          //bottom: 3.8vw;
          width: 1005px;
          height: 592px;
          //width: 52.5vw;
          //height: 30vw;
          background: url("~@/assets/images/projects/initech/inihub/inihub_mockup_pc@2x.png") no-repeat;
          background-size: 100%;
         // background-position-y: 50%;
        }
      }
      &.snbcorp {
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          //left: 4vw;
          bottom: 70px;
          //bottom: 3.8vw;
          width: 1005px;
          height: 592px;
          //width: 52.5vw;
          //height: 30vw;
          background: url("~@/assets/images/projects/snb/mockup_snb_pc.png") no-repeat;
          background-size: 100%;
         // background-position-y: 50%;
        }
      }
       &.wellpot {
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          //left: 4vw;
          bottom: 70px;
          //bottom: 3.8vw;
          width: 1005px;
          height: 592px;
          //width: 52.5vw;
          //height: 30vw;
          background: url("~@/assets/images/projects/wellpot/mockup_wellpot_pc.png") no-repeat;
          background-size: 100%;
         // background-position-y: 50%;
        }
      }
      &.multi-demo {
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          //left: 4vw;
          bottom: 70px;
          //bottom: 3.8vw;
          width: 1005px;
          height: 592px;
          //width: 52.5vw;
          //height: 30vw;
          background: url("~@/assets/images/projects/initech/demo/mockup_pc_multidemo.png") no-repeat;
          background-size: 100%;
         // background-position-y: 50%;
        }
      }
      &.inipass {
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          //left: 4vw;
          bottom: 70px;
          //bottom: 3.8vw;
          width: 1005px;
          height: 592px;
          //width: 52.5vw;
          //height: 30vw;
          background: url("~@/assets/images/projects/initech/inipass/mockup_pc_inipass.png") no-repeat;
          background-size: 100%;
         // background-position-y: 50%;
        }
      }

    }
    &.mockup__respons-pad {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 70px;
      left: -20px;
      z-index: -1;
      @include respond-to("bp-max-820") {
        left: 2vw;
        top: 23vw;
         z-index: 0;
      }
      &::after {
        content: "";
        display: block;
        width: 490px;
        height: 486px;
        position: absolute;
        top: 20px;
        left: -105px;
        background: url("~@/assets/images/mockup/mockup_ipad.png") center center no-repeat;
        background-size: 100%;
        z-index: -1;
        @include respond-to("bp-max-820") {
              width: 40vw;
          height: 44vw;
          top: 0;
          left: 0;
        }
      }
      &.kyobo {
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 320px;
          height: 428px;    
          top: 51px;
          left: 43px;
          @include respond-to("bp-max-820") {
            width: 40vw;
            height: 44vw;
            top: 0;
            left: 0;
          }
        }
      }
      &.inihub {
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 30px;
          left: 280px;
          background: url("~@/assets/images/projects/initech/inihub/inihub_a_tablet_01.jpg") center center no-repeat;
          background-size: 100%;
          width: 310px;
          height: 418px;
          z-index: -1;
          @include respond-to("bp-max-820") {
            width: 40vw;
            height: 35vw;
            top: 0;
            left: 0;
          }
        }
      }
      &.kyobo {
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50px;
          left: 49px;
          background: url("~@/assets/images/projects/initech/kyobo/intergration/pad_kakao_1.jpg") center -50px no-repeat;
          background-size: 100%;
          width: 310px;
          height: 418px;
          z-index: -1;
            @include background-image-render;
          @include respond-to("bp-max-820") {
            width: 24.5vw;
            height: 35vw;
            background-position-y: -3vw;
            top: 4.5vw;
            left: 13vw;

          }
        }
      }
    }
    &.mockup__respons-mo {
        position: absolute;
        //left: -270px;
        //bottom: 17px;
        left: -234px;
        bottom: 112px;
        @include respond-to("bp-max-1600") {
          width: auto;
          position: absolute;
              left: -30%;
          bottom: 0;
        }
        @include respond-to("bp-max-820") {
          bottom: 9vw;
          left: 17vw;
      
        }

      &::after {
        content: "";
        display: block;
        width: 259px;
        height: 339px;
  
        position: absolute;
        left: 70px;
        bottom: 76px;
        background: url("~@/assets/images/mockup/mockup_iphone.png") center center no-repeat;
        background-size: 100%;
        @include respond-to("bp-max-820") {
           width: 30vw;
          height: 38vw;
          bottom: 0;
          left: 0;
        }
      }
      &.kyobo {
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 169px;
          bottom: 130px;
          width: 130px;
          height: 239px;
          background: url("~@/assets/images/projects/initech/kyobo/intergration/mo_01_kakao.jpg") center -35px  no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-820") {
            width: 14.5vw;
            height: 27vw;
            bottom: 6.2vw;
            left: 11.8vw;
            
          }
        }
      }
      &.inihub {
        &::after {display: none;}
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          bottom: 90px;
           //  left: 6vw;
          //bottom: 5vw;
          width: 502px;
          height: 490px;
          //width: 26.15vw;
          //height: 25.55vw;
          background: url("~@/assets/images/projects/initech/inihub/inihub_mockup_mo@2x.png") center top no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-820") {
           
          }
        }
        
      }
      &.snbcorp {
        &::after {display: none;}
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          bottom: 90px;
           //  left: 6vw;
          //bottom: 5vw;
          width: 502px;
          height: 490px;
          //width: 26.15vw;
          //height: 25.55vw;
          background: url("~@/assets/images/projects/snb/mockup_snb_mo.png") center top no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-820") {
           
          }
        }
        
      }
       &.wellpot {
        &::after {display: none;}
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          bottom: 90px;
           //  left: 6vw;
          //bottom: 5vw;
          width: 502px;
          height: 490px;
          //width: 26.15vw;
          //height: 25.55vw;
          background: url("~@/assets/images/projects/wellpot/mockup_wellpot_mo.png") center top no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-820") {
           
          }
        }
        
      }
      &.multi-demo {
        &::after {display: none;}
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          bottom: 90px;
           //  left: 6vw;
          //bottom: 5vw;
          width: 502px;
          height: 490px;
          //width: 26.15vw;
          //height: 25.55vw;
          background: url("~@/assets/images/projects/initech/demo/demo_mockup_mo.png") center top no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-820") {
           
          }
        }
        
      }
      &.inipass {
        &::after {display: none;}
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 76px;
          bottom: 90px;
           //  left: 6vw;
          //bottom: 5vw;
          width: 502px;
          height: 490px;
          //width: 26.15vw;
          //height: 25.55vw;
          background: url("~@/assets/images/projects/initech/inipass/mockup_mo_inipass.png") center top no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-820") {
           
          }
        }
        
      }
    }
    &.mockup__mo {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 5%;
     @include respond-to("bp-max-820") {
      top: 0;
     }
       
      &::after {
        content: "";
        display: block;
        width: 606px;
        height: 644px;
        position: absolute;
        left: 0;
        top: 0;
        background: url("~@/assets/images/mockup/iphone11.png") center center no-repeat;
        background-size: 100%;
        @include respond-to("bp-max-820") {
          width: 30vw;
          height: 38vw;
          bottom: 0;
          left: 0;
        }
      }
      &.wedding {
        overflow: hidden;
        @include respond-to("bp-max-820") {
          margin-top: 15%;
        }
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 1060px;
          height: 568px;
          background: url("~@/assets/images/projects/wedding.png") center top no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-1600") {
            width: 58vw;
            height: 32vw;
            top: 10vw;
          }
          @include respond-to("bp-max-820") {
            width: 70vw;
            height: 48vw;
            left: 50%;
            top: 36%;
            transform: translate(-50%, -50%);
          }
       
        }
      }
      &.lotte {
         &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: -15%;
          top: 5%;
          width: 1100px;
          height: 568px;
          background: url("~@/assets/images/projects/lotte/lotte_mockup_main.png") center top no-repeat;
          background-size: 100%;
          @include respond-to("bp-max-1600") {
            width: 58vw;
            height: 32vw;
            top: 10vw;
          }
          @include respond-to("bp-max-820") {
            width: 70vw;
            height: 48vw;
            left: 50%;
            top: 36%;
            transform: translate(-50%, -50%);
          }
       
        }
      }
      &.mobilian {
        margin-top: 5%;
            
        @include respond-to("bp-max-820") {
          margin-top: 15%;
        }
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 8%;
          top: 0;
          width: 720px;
          height: 542px;
         
          background: url("~@/assets/images/projects/initech/mobilian/mobilian_main_wrap.png") center top no-repeat;
          background-size: 100%;
            @include respond-to("bp-max-820") {
              width: 79vw;
              height: 51vw;
              background-size: 69vw;
            }
        }
      }
      &.kdxp {
        margin-top: 5%;
            
        @include respond-to("bp-max-820") {
          margin-top: 15%;
        }
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 8%;
          top: 0;
          width: 820px;
          height: 562px;
         
          background: url("~@/assets/images/projects/initech/kdxp/kdxp_mockup.png") center top no-repeat;
          background-size: 100%;
            @include respond-to("bp-max-820") {
              width: 79vw;
              height: 51vw;
              background-size: 69vw;
            }
        }
      }
    }
  }
}

.contact-inner {
  width: 1600px;
 
  margin: 0 auto;
  @include display-flex {
      justify-content: getJustify(center);
      align-items: checkAlign(center);
  }
  em {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 1.8;
    margin-right: 50px;
  }

}

.contact-inner,
.desc-inner,
.about-inner {
  
   @include respond-to("bp-max-820") {
    
     margin: 0 auto;
   }
 }